div.container4 {
  height: 75Vh;
  position: relative }
div.container4 p {
  margin: 0;
  font-weight: bolder;
  font-size: 4em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) }